/* font-family: 'Changa', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600;700&family=Fugaz+One&display=swap');
body {
    background-color: #E4FAC2;
    color: #063A4D;
    font-family: 'Changa', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
main {
    margin-left: 20px;
}
li {
    text-decoration: none;
    padding-bottom: 20px;
}
h1 {
    text-align: center;
}
h2 {
    font-family: 'Fugaz One', cursive;
    
}
ol {
    border: 2px solid #331E5C;
}